<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome5/all.css') }}">
    <script defer src="{{ url_for('static', filename='fontawesome5/all.js') }}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Bootstrap4/bootstrap.min.css') }}"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ระบบจัดเก็บผู้ถูกรางวัลสลากกินแบ่งรัฐบาล</title>
</head>

<body style="font-family:cursive">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark " style="background-color: #1C2331;color: white;">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='Brand/Meow.jpg') }}" width="90" height="90"
                    style="vertical-align: middle;border-radius: 50%; margin-right: 15px;">
                <label style="font-size: larger;font-size: 40px;">ระบบเก็บสลากกินแบ่งรัฐบาล</label>
            </a>
        </div>
        <ul class="navbar-nav mr-auto">
        </ul>
    </nav>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080/" style="margin: 20px; font-size: 20px;">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="http://localhost:8080/blocks" style="margin: 20px; font-size: 20px;">Blocks</a>
        </li>
    </ul>
    <div style="margin-left: 40px;margin-right: 40px; margin-bottom: 100px;">
        <br><br>

        <p class="lead">สำหรับเก็บข้อมูลของผู้ถูกรางวัลสลากกินแบ่งรัฐบาล</p>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFrom">
            <i class="fas fa-link"></i>Add Bloack
        </button>
        <br>
        <br>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">index</th>
                    <th scope="col">hash</th>
                    <th scope="col">timestamp</th>
                    <th scope="col">data</th>
                    <th scope="col">previous_hash</th>
                    <th scope="col">installment</th>
                </tr>
            </thead>
            <tbody>
                {% for block in blocks %}
                <tr>
                    <th scope="row">{{ block.index }}</th>
                    <td>{{ block.hash }}</td>
                    <td>{{ block.timestamp }}</td>
                    {% if block.data=='Genesis block' %}
                    <td>{{ block.data }}</td>
                    {% else %}
                    <td>
                        {% for dataId in block.data %}
                        <span>
                            {{ dataId.from_address }} &nbsp; to
                        </span>
                        <span>
                            {{ dataId.whom }} &nbsp;
                        </span>
                        <span>
                            {{ dataId.lotto_number }} &nbsp; bath.
                        </span>
                        <span>
                            {{ dataId.duedate }} &nbsp; installment.
                        </span>
                        
                        <br>
                        {% endfor %}
                    </td>
                    {% endif %}

                    <td>{{ block.previous_hash }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


    <!-- Modal Add BlockChain-->
    <div class="modal fade" id="addFrom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form class="px-4 py-3" action="http://localhost:8080/newBlock/" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 30px;">
                            <i class="fas fa-dice-d6"></i> &nbsp;Add BlockChain
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">from_address</label>
                            <input type="text" class="form-control" id="from_address" name="from_address"
                                placeholder="from_address">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">whom</label>
                            <input type="text" class="form-control" id="whom" name="whom"
                                placeholder="whom">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">lotto_number</label>
                            <input type="text" class="form-control" id="lotto_number" name="lotto_number" placeholder="lotto_number">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">duedate</label>
                            <input type="text" class="form-control" id="duedate name="duedate" placeholder="duedate">
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Block</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    </div>
    <!-- Footer -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='Bootstrap4/jquery-3.4.1.slim.min.js') }}"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='Bootstrap4/popper.min.js') }}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='Bootstrap4/bootstrap.min.js') }}"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>